.statusFinished {
  font-size: 6px !important;
  color: #f5fa80;
  background-color: black !important;
  border-radius: 10px;
}

.statusRefunded {
  font-size: 6px !important;
  color: #f5fa80;
  background-color: black !important;
  border-radius: 10px;
}

.statusStopped {
  font-size: 6px !important;
  color: #f5fa80;
  background-color: black !important;
  border-radius: 10px;

  .refundStatus {
    font-size: 6px !important;
    color: #f5fa80;
    background-color: black !important;
    border-radius: 10px;
  }
}
